/* header */
.our_topbar{
  padding: 1rem 0;
  a{
    display: inline-block;
  }
  .lang, button{
    border-radius: 50%;
    background: $color;
    color: #fff;
    margin-left: 15px;
    text-align: center;
    width: 43px;
    height: 43px;
    line-height: 38px;
    cursor: pointer;
  }
}
.our_logo{
  img{
    width: 150px;
  }
}
.topbar_btn{
  border: 1px solid $color;
  border-radius: 1.25rem;
  font-family: $sem;
  min-width: 120px;
  text-align: center;
  height: 43px;
  line-height: 40px;
  transition: $trans;
  &:hover{
    background: $color;
    color: #fff;
  }
}
.navbar{
  padding: 0;
  .navbar-nav{
    .nav-link{
      font-family: $sem;
      color: #333;
      margin-right: 15px;
      font-size: 1.25rem;
      padding: .5rem 1.2rem;
      transition: $trans;
      &:hover{
        background: #F18168;
        border-color: #F18168;
        color: #fff;
      }
    }
    .nav-item.active{
      .nav-link{
      border: 1px solid #D9D9D9;
      border-top: 2px solid #F18168;
    }
    }
  }

}

.our_hero{

.hero_panel{
  display: flex;
  flex-direction: column;
}
  .hero_img{
    height: 200px;
    position: relative;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .5s;
    }
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      opacity: .5;
      background-color: #00b7ff;
    }
   
    &:hover img{
      transform: scale(1.1);
    }
  }

  .hero_caption{
    height: 200px;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 2rem;
    background-color: #00B7FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    h3{
      font-family: $bold;
      font-size: 1.825rem;
    }
  }

  .row {

    [class*=col-]:nth-of-type(2){
      .hero_panel{
        flex-direction: column-reverse;
      }
      .hero_caption, .hero_img:before{
        background-color: #FCBC4E;
      }
    }

    [class*=col-]:nth-of-type(3){
      .hero_caption, .hero_img:before{
        background-color: #F18168;
      }
    }
  }
  .main_hero{
    .hero_panel{
      flex-direction: row;
      h3{
        padding-left: 2rem;
      }
    }
  }
}
.our_mobile_menu{
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
  transition: .5s all;
  opacity: 0;
  transform: scale(0) ;
  &.open{
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  .navbar-nav{
    margin-top: 3rem;
    text-align: center;
  }
  .nav-link{
    color: #333;
    font-family: $bold;
    font-size: 1.25rem;
    transition: $trans;
    margin-bottom: 1rem;
  }

  button{
    float: left;
    margin-left: 25px;
    color: #F18168;
    font-size: 1.8rem;
    cursor: pointer;
  }
}